<div class="header">
<h2>Add a prescription to <%= @patient.full_name %></h2>
</div>

<div class="row">
  <div class="col-md-4">
    <%= form_for [@patient, @prescription] do |f| %>

    <% if f.object.errors.present? %>
    <div class="alert alert-danger">
      <% f.object.errors.full_messages.each do |error| %>
        <div class="errors">
          <%= error %>
        </div>

      <% end %>

    </div>
      <% end %>

    <div class="form-group">
      <%= f.label :medication_id %>
      <%= f.collection_select :medication_id, Medication.all, :id, :name, {include_blank: true}, {class: "form-control"} %>
    </div>

    <div class="form-group">
      <%= f.label :dosage %>
      <%= f.text_field :dosage, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :schedule %>
      <%= f.text_field :schedule, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :starts_on %>
      <%= f.date_field :starts_on, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :ends_on %>
      <%= f.date_field :ends_on, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.submit "Create prescription", class: "btn btn-primary" %>
    </div>
      <% end %>
  </div>
</div>
