<h2> <%= @medication.name %></h2>

<h3>Prescriptions</h3>

<table class="table table-bordered table-striped">
<thead>
  <tr>
    <th>Patient</th>
    <th>Dosage/Schedule</th>
    <th>Dates</th>
    <th>Prescribed by</th>
  </tr>
</thead>
  <tbody>
    <% @prescriptions.each do |prescription| %>
  <tr>
    <td><%= prescription.patient.full_name %></td>
    <td><%= prescription.dosage %></td>
    <td><%= prescription.starts_on %></td>
    <td><%= prescription.user.name %></td>
  </tr>
    <% end %>
  </tbody>
</table>
